# Introduction:
Intro text
1. Ausgangssituaion
2. Was werden wir alles machen?
3. Inhalstverzeichnis

# 0. General Settings

Import of ....

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import datetime 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option("display.max_rows", 100)

# 1. Importing Next Bike Data for Frankfurt and Berlin

In the following section we will look at the frankfurt and berlin datasets for next bike usage data. This will include looking at each datasets and cleaning them.

In [3]:
berlin_set = pd.read_csv("berlin.csv")
frankfurt_set = pd.read_csv("frankfurt.csv")
frankfurt_weather = pd.read_csv("frankfurt_weather.csv")
berlin_weather = pd.read_csv("berlin_weather.csv")

## 1.1 Frankfurt Set

In [4]:
frankfurt_set.head(100)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570
5,2019-06-27,14:49:00,11420,frankfurt,0 days 00:21:00.000000000,49.985661,8.424644,49.991004,8.412477
6,2019-06-28,06:08:00,11420,frankfurt,0 days 00:12:00.000000000,49.990980,8.412610,49.985600,8.424339
7,2019-06-28,10:08:00,11420,frankfurt,0 days 00:19:00.000000000,49.985574,8.424403,49.991130,8.412532
8,2019-05-30,15:42:00,11451,frankfurt,0 days 01:40:00.000000000,50.101748,8.553437,50.101711,8.554450
9,2019-05-31,02:22:00,11451,frankfurt,0 days 00:10:00.000000000,50.101711,8.554450,50.114979,8.556589
10,2019-06-26,18:54:00,12575,frankfurt,0 days 00:16:00.000000000,49.995381,8.411746,49.995411,8.411767
11,2019-06-26,19:59:00,12575,frankfurt,0 days 00:18:00.000000000,49.995421,8.411744,49.983808,8.424030
12,2019-06-27,11:08:00,12575,frankfurt,0 days 01:36:00.000000000,49.983904,8.423997,49.992375,8.412673
13,2019-06-27,13:44:00,12575,frankfurt,0 days 00:03:00.000000000,49.992160,8.412645,49.992248,8.412662
14,2019-06-27,18:46:00,12575,frankfurt,0 days 00:03:00.000000000,49.992253,8.412685,49.992198,8.412242
15,2019-06-27,20:19:00,12575,frankfurt,0 days 00:12:00.000000000,49.992377,8.412659,49.983907,8.424158
16,2019-06-28,02:11:00,12575,frankfurt,0 days 00:04:00.000000000,49.983907,8.424158,49.983604,8.424113
17,2019-06-28,13:01:00,12575,frankfurt,0 days 00:10:00.000000000,49.983604,8.424113,49.977173,8.431716
18,2019-06-28,13:25:00,12575,frankfurt,0 days 00:15:00.000000000,49.977173,8.431716,49.983907,8.424168
19,2019-06-28,15:06:00,12575,frankfurt,0 days 00:08:00.000000000,49.983907,8.424168,49.982007,8.435466
20,2019-06-28,15:40:00,12575,frankfurt,0 days 00:10:00.000000000,49.983864,8.423970,49.983891,8.424141
21,2019-06-28,18:19:00,12575,frankfurt,0 days 00:12:00.000000000,49.983891,8.424141,49.991108,8.412559
22,2019-06-28,18:42:00,12575,frankfurt,0 days 00:19:00.000000000,49.991108,8.412559,49.985196,8.408602
23,2019-06-29,04:53:00,12575,frankfurt,0 days 00:08:00.000000000,49.985196,8.408602,49.985036,8.408791
24,2019-06-29,08:19:00,12575,frankfurt,0 days 00:25:00.000000000,49.985036,8.408791,49.985598,8.424443
25,2019-06-29,12:21:00,12575,frankfurt,0 days 00:14:00.000000000,49.985598,8.424443,49.990150,8.419634
26,2019-06-30,15:12:00,12575,frankfurt,0 days 00:28:00.000000000,49.991038,8.412558,49.983907,8.423996
27,2019-02-04,19:35:00,38001,frankfurt,0 days 00:07:00.000000000,50.131105,8.645661,50.123839,8.636220
28,2019-02-26,20:03:00,38001,frankfurt,0 days 00:07:00.000000000,50.114837,8.672574,50.124155,8.669688
29,2019-03-01,15:20:00,38001,frankfurt,0 days 00:07:00.000000000,50.124155,8.669688,50.114837,8.672574
30,2019-03-01,17:42:00,38001,frankfurt,0 days 00:22:00.000000000,50.114837,8.672574,50.124155,8.669688
31,2019-03-01,19:52:00,38001,frankfurt,0 days 00:10:00.000000000,50.124155,8.669688,50.115329,8.671153
32,2019-03-03,16:30:00,38001,frankfurt,0 days 00:18:00.000000000,50.115329,8.671153,50.100153,8.668331
33,2019-03-21,20:18:00,38001,frankfurt,0 days 00:32:00.000000000,50.100153,8.668331,50.104410,8.690094
34,2019-03-26,11:09:00,38001,frankfurt,0 days 00:27:00.000000000,50.104410,8.690094,50.086095,8.649362
35,2019-03-31,15:04:00,38001,frankfurt,0 days 00:31:00.000000000,50.086095,8.649362,50.105345,8.678008
36,2019-04-02,05:05:00,38001,frankfurt,0 days 00:24:00.000000000,50.105345,8.678008,50.117065,8.630050
37,2019-05-25,17:55:00,38001,frankfurt,0 days 00:36:00.000000000,50.162989,8.636498,50.113562,8.679425
38,2019-05-25,20:51:00,38001,frankfurt,0 days 00:16:00.000000000,50.113562,8.679425,50.112732,8.681656
39,2019-05-26,15:01:00,38001,frankfurt,0 days 00:04:00.000000000,50.112732,8.681656,50.113151,8.682325
40,2019-05-29,13:32:00,38001,frankfurt,0 days 00:26:00.000000000,50.113151,8.682325,50.110792,8.681833
41,2019-06-09,13:10:00,38001,frankfurt,0 days 02:30:00.000000000,50.104599,8.688963,50.110792,8.681833
42,2019-06-09,16:01:00,38001,frankfurt,0 days 01:13:00.000000000,50.110792,8.681833,50.113124,8.678609
43,2019-06-09,19:53:00,38001,frankfurt,0 days 00:20:00.000000000,50.113124,8.678609,50.115450,8.676826
44,2019-06-09,22:34:00,38001,frankfurt,0 days 00:27:00.000000000,50.115450,8.676826,50.108247,8.663221
45,2019-06-13,05:38:00,38001,frankfurt,0 days 00:08:00.000000000,50.108247,8.663221,50.114352,8.649958
46,2019-06-13,15:45:00,38001,frankfurt,0 days 00:16:00.000000000,50.114352,8.649958,50.109113,8.681801
47,2019-06-13,16:33:00,38001,frankfurt,0 days 00:48:00.000000000,50.109113,8.681801,50.137439,8.667231
48,2019-06-14,07:22:00,38001,frankfurt,0 days 00:36:00.000000000,50.137439,8.667231,50.123192,8.658460
49,2019-06-15,16:39:00,38001,frankfurt,0 days 00:11:00.000000000,50.123192,8.658460,50.117540,8.645430
50,2019-06-15,20:28:00,38001,frankfurt,0 days 00:05:00.000000000,50.117540,8.645430,50.120031,8.650269
51,2019-06-15,22:28:00,38001,frankfurt,0 days 00:06:00.000000000,50.120031,8.650269,50.117540,8.645430
52,2019-06-16,16:12:00,38001,frankfurt,0 days 00:59:00.000000000,50.117540,8.645430,50.119147,8.640082
53,2019-06-17,05:34:00,38001,frankfurt,0 days 00:29:00.000000000,50.119147,8.640082,50.130390,8.692180
54,2019-06-17,09:12:00,38001,frankfurt,0 days 00:13:00.000000000,50.130390,8.692180,50.115009,8.687546
55,2019-06-17,10:51:00,38001,frankfurt,0 days 00:05:00.000000000,50.115009,8.687546,50.118867,8.688894
56,2019-06-17,12:16:00,38001,frankfurt,0 days 00:06:00.000000000,50.118867,8.688894,50.117486,8.679049
57,2019-03-05,12:54:00,38002,frankfurt,0 days 00:08:00.000000000,50.091182,8.686082,50.098870,8.687503
58,2019-03-20,16:12:00,38002,frankfurt,0 days 00:08:00.000000000,50.123711,8.671018,50.114854,8.673494
59,2019-03-20,18:51:00,38002,frankfurt,0 days 00:12:00.000000000,50.114854,8.673494,50.104957,8.643708
60,2019-03-20,19:27:00,38002,frankfurt,0 days 00:11:00.000000000,50.104957,8.643708,50.119412,8.643601
61,2019-03-23,13:16:00,38002,frankfurt,0 days 00:42:00.000000000,50.119412,8.643601,50.122002,8.686071
62,2019-03-24,12:03:00,38002,frankfurt,0 days 01:30:00.000000000,50.122002,8.686071,50.123068,8.692680
63,2019-03-25,07:12:00,38002,frankfurt,0 days 00:16:00.000000000,50.123068,8.692680,50.112611,8.667151
64,2019-03-25,20:11:00,38002,frankfurt,0 days 00:13:00.000000000,50.112611,8.667151,50.119147,8.640082
65,2019-03-26,08:22:00,38002,frankfurt,0 days 00:07:00.000000000,50.119147,8.640082,50.114352,8.649958
66,2019-03-27,18:21:00,38002,frankfurt,0 days 00:30:00.000000000,50.114352,8.649958,50.120324,8.695657
67,2019-03-28,06:38:00,38002,frankfurt,0 days 00:09:00.000000000,50.120324,8.695657,50.112969,8.676619
68,2019-03-30,10:36:00,38002,frankfurt,0 days 00:49:00.000000000,50.112969,8.676619,50.107599,8.664168
69,2019-03-30,15:49:00,38002,frankfurt,0 days 00:26:00.000000000,50.107599,8.664168,50.105105,8.668662
70,2019-03-30,16:16:00,38002,frankfurt,0 days 00:21:00.000000000,50.105105,8.668662,50.109113,8.681801
71,2019-03-30,17:55:00,38002,frankfurt,0 days 00:25:00.000000000,50.109113,8.681801,50.141761,8.684006
72,2019-04-02,18:28:00,38002,frankfurt,0 days 00:09:00.000000000,50.141761,8.684006,50.130390,8.692180
73,2019-04-04,15:20:00,38002,frankfurt,0 days 00:04:00.000000000,50.130390,8.692180,50.128915,8.692439
74,2019-04-06,11:23:00,38002,frankfurt,0 days 00:23:00.000000000,50.128915,8.692439,50.113124,8.678609
75,2019-04-06,13:21:00,38002,frankfurt,0 days 00:18:00.000000000,50.113124,8.678609,50.108580,8.669511
76,2019-04-06,20:13:00,38002,frankfurt,0 days 00:19:00.000000000,50.108580,8.669511,50.116980,8.629106
77,2019-04-11,12:34:00,38002,frankfurt,0 days 00:06:00.000000000,50.116980,8.629106,50.116067,8.630568
78,2019-04-11,12:41:00,38002,frankfurt,0 days 01:42:00.000000000,50.116067,8.630568,50.116980,8.629106
79,2019-04-16,15:43:00,38002,frankfurt,0 days 00:43:00.000000000,50.116980,8.629106,50.110323,8.682753
80,2019-04-16,17:10:00,38002,frankfurt,0 days 00:59:00.000000000,50.110323,8.682753,50.116980,8.629106
81,2019-04-17,16:33:00,38002,frankfurt,0 days 00:09:00.000000000,50.116980,8.629106,50.119147,8.640082
82,2019-04-18,06:13:00,38002,frankfurt,0 days 00:07:00.000000000,50.119147,8.640082,50.116980,8.629106
83,2019-04-22,11:58:00,38002,frankfurt,0 days 00:17:00.000000000,50.109113,8.681801,50.101915,8.681114
84,2019-04-24,12:45:00,38002,frankfurt,0 days 00:16:00.000000000,50.101915,8.681114,50.107246,8.704291
85,2019-04-26,15:13:00,38002,frankfurt,0 days 00:26:00.000000000,50.107547,8.703323,50.120324,8.695657
86,2019-04-27,01:24:00,38002,frankfurt,0 days 00:08:00.000000000,50.120324,8.695657,50.126528,8.708392
87,2019-04-27,07:57:00,38002,frankfurt,0 days 00:40:00.000000000,50.126528,8.708392,50.113334,8.680711
88,2019-04-30,16:00:00,38002,frankfurt,0 days 01:10:00.000000000,50.113334,8.680711,50.111422,8.681495
89,2019-05-07,17:51:00,38002,frankfurt,0 days 00:27:00.000000000,50.113124,8.678609,50.121242,8.697432
90,2019-06-01,12:01:00,38002,frankfurt,0 days 00:28:00.000000000,50.111948,8.654126,50.118535,8.702047
91,2019-06-02,09:27:00,38002,frankfurt,0 days 01:18:00.000000000,50.111948,8.654126,50.115535,8.698785
92,2019-06-02,18:10:00,38002,frankfurt,0 days 00:58:00.000000000,50.114335,8.618190,50.109030,8.674521
93,2019-06-03,21:20:00,38002,frankfurt,0 days 00:17:00.000000000,50.109030,8.674521,50.133475,8.671891
94,2019-06-04,06:49:00,38002,frankfurt,0 days 00:14:00.000000000,50.133418,8.671868,50.109030,8.674521
95,2019-06-04,17:46:00,38002,frankfurt,0 days 00:07:00.000000000,50.109030,8.674521,50.107599,8.664168
96,2019-06-05,07:18:00,38002,frankfurt,0 days 00:14:00.000000000,50.107599,8.664168,50.127054,8.671061
97,2019-06-05,11:50:00,38002,frankfurt,0 days 00:19:00.000000000,50.127054,8.671061,50.107599,8.664168
98,2019-06-07,12:24:00,38002,frankfurt,0 days 00:24:00.000000000,50.131105,8.645661,50.113124,8.678609
99,2019-06-07,23:47:00,38002,frankfurt,0 days 00:14:00.000000000,50.113124,8.678609,50.101918,8.691108

### 1.1.1 Adding Weekdays

from datetime import date
import calendar
frankfurt_set.day = pd.to_datetime(frankfurt_set.day)
for ind, row in frankfurt_set.iterrows():
    frankfurt_set.loc[ind, "Weekday"] = calendar.day_name[row['day'].weekday()]

### 1.1.2 Calculating the distance between the locations

In [5]:
from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

  # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [6]:
for ind, row in frankfurt_set.iterrows():
    frankfurt_set.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

### 1.1.3 Show Dataset

In [7]:
frankfurt_set

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321
...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900

### 1.1.4 Dropping not necessary rows

In [8]:
# Cleaning the dataset from rows with value "NaN"
frankfurt = frankfurt_set.dropna(axis=0)

In [9]:
frankfurt

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321
...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900

## 1.2 Berlin Set

In [78]:
berlin_set.head()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611

In [79]:
for ind, row in berlin_set.iterrows():
    berlin_set.loc[ind, "distance"] = haversine(row['orig_lng'], row['orig_lat'], row['dest_lng'], row['dest_lat'])

berlin_set.day = pd.to_datetime(berlin_set.day)

berlin_set.day = pd.to_datetime(berlin_set.day)
berlin_set.loc[ind, "Weekday"] = calendar.day_name[row['day'].weekday()]

In [81]:
berlin_set

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043,4.140973
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686,4.142100
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997,3.893758
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285,1.854972
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611,1.008726
...,...,...,...,...,...,...,...,...,...,...
215076,2019-05-13,09:57:00,30186,berlin,0 days 00:13:00.000000000,52.534774,13.346862,52.534924,13.347056,0.021213
215077,2019-04-01,16:20:00,33140,berlin,0 days 00:50:00.000000000,52.507288,13.333964,52.505247,13.327885,0.469887
215078,2019-05-10,10:59:00,38671,berlin,0 days 00:05:00.000000000,50.813178,8.775800,50.814100,8.770868,0.361337
215079,2019-06-18,19:21:00,99851,berlin,0 days 00:03:00.000000000,52.494436,13.379319,52.497192,13.380079,0.310792
215080,2019-06-19,15:43:00,99909,berlin,0 days 00:04:00.000000000,52.535013,13.347290,52.534947,13.347106,0.014512

# 2. Weather data

The imported weather data are from the CDC weather database. We imported the following data for berlin and frankfurt from the 02/01/2019 to the 06/30/2019:
    1. windspeed
    2. precipation
    3. temperature

The **goal** for chapter 2. is to clean the weather data and merge them together into one table.
First, we will go through each dataset in chapter 2.1, 2.2, and 2.3. There we will clean the data and make them able to work with.
Second, we will merge the datasets together.

In [10]:
weather_windspeed = pd.read_csv("data_FF_MN008.csv") #Stündliche Stationsmessungen der Windgeschwindigkeit in 10 m Höhe in m/s 
weather_precipitation = pd.read_csv("data_R1_MN008.csv") #Stündliche Stationsmessungen der Niederschlagshöhe in mm für Deutschland
weather_temperature = pd.read_csv("data_TT_TU_MN009.csv") #Stündliche Stationsmessungen der Lufttemperatur auf 2 m Höhe in °C

## 2.1 cleaning windspeed data

In [11]:
weather_windspeed.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0     FF_MN008    1420  201902010000   2.5               3                 0
1     FF_MN008    1420  201902010100   2.4               3                 0
2     FF_MN008    1420  201902010200   1.7               3                 0
3     FF_MN008    1420  201902010300   1.6               3                 0
4     FF_MN008    1420  201902010400   2.1               3                 0

In [12]:
# Renaming column names
weather_windspeed.rename(columns = {"Wert": "Windspeed in m/s"},inplace = True)

In [13]:
# Set timestamp         
for ind, row in weather_windspeed.iterrows():
    weather_windspeed.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [14]:
# Change the PID from CDC data to readable data
for ind, row in weather_windspeed.iterrows():
    if weather_windspeed.loc[ind, "SDO_ID"] == 1420:
        weather_windspeed.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_windspeed.loc[ind, "SDO_ID"] == 433:
        weather_windspeed.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_windspeed.loc[ind, "SDO_ID"] = ""

In [15]:
# Drop not necessary columns
cleaned_weather_windspeed = weather_windspeed.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [16]:
cleaned_weather_windspeed

         SDO_ID          Zeitstempel  Windspeed in m/s
0     Frankfurt  2019-02-01 00:00:00               2.5
1     Frankfurt  2019-02-01 01:00:00               2.4
2     Frankfurt  2019-02-01 02:00:00               1.7
3     Frankfurt  2019-02-01 03:00:00               1.6
4     Frankfurt  2019-02-01 04:00:00               2.1
...         ...                  ...               ...
7176     Berlin  2019-06-30 19:00:00               2.6
7177     Berlin  2019-06-30 20:00:00               6.6
7178     Berlin  2019-06-30 21:00:00               7.8
7179     Berlin  2019-06-30 22:00:00               6.5
7180     Berlin  2019-06-30 23:00:00               5.3

[7181 rows x 3 columns]

## 2.2 cleaning precipation data (Niederschlagshöhe)

In [17]:
weather_precipitation.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0     R1_MN008    1420  201902010000   0.0               3                 0
1     R1_MN008    1420  201902010100   0.0               3                 0
2     R1_MN008    1420  201902010200   0.2               3                 0
3     R1_MN008    1420  201902010300   0.7               3                 0
4     R1_MN008    1420  201902010400   0.0               3                 0

In [18]:
# Renaming column names
weather_precipitation.rename(columns = {"Wert": "Precipation in mm"},inplace = True)

In [19]:
# Set timestamp         
for ind, row in weather_precipitation.iterrows():
    weather_precipitation.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [20]:
# Change the PID from CDC data to readable data
for ind, row in weather_precipitation.iterrows():
    if weather_precipitation.loc[ind, "SDO_ID"] == 1420:
        weather_precipitation.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_precipitation.loc[ind, "SDO_ID"] == 433:
        weather_precipitation.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_precipitation.loc[ind, "SDO_ID"] = ""

In [21]:
# Drop not necessary columns
cleaned_weather_precipitation = weather_precipitation.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [22]:
cleaned_weather_precipitation

         SDO_ID          Zeitstempel  Precipation in mm
0     Frankfurt  2019-02-01 00:00:00                0.0
1     Frankfurt  2019-02-01 01:00:00                0.0
2     Frankfurt  2019-02-01 02:00:00                0.2
3     Frankfurt  2019-02-01 03:00:00                0.7
4     Frankfurt  2019-02-01 04:00:00                0.0
...         ...                  ...                ...
7173     Berlin  2019-06-30 19:00:00                0.0
7174     Berlin  2019-06-30 20:00:00                0.0
7175     Berlin  2019-06-30 21:00:00                0.0
7176     Berlin  2019-06-30 22:00:00                0.0
7177     Berlin  2019-06-30 23:00:00                0.0

[7178 rows x 3 columns]

## 2.3 cleaning temperature data

In [23]:
weather_temperature.head()

  Produkt_Code  SDO_ID   Zeitstempel  Wert  Qualitaet_Byte  Qualitaet_Niveau
0  TT_TU_MN009    1420  201902010000  -0.3               7                 6
1  TT_TU_MN009    1420  201902010100  -0.1               7                 6
2  TT_TU_MN009    1420  201902010200  -0.3               7                 1
3  TT_TU_MN009    1420  201902010300  -0.3               7                 1
4  TT_TU_MN009    1420  201902010400   0.0               7                 1

In [24]:
# Renaming column names
weather_temperature.rename(columns = {"Wert": "Temperature"},inplace = True)

In [25]:
# Set timestamp         
for ind, row in weather_temperature.iterrows():
    weather_temperature.loc[ind, "Zeitstempel"] = pd.to_datetime(row['Zeitstempel'], format='%Y%m%d%H%M')

In [26]:
# Change the PID from CDC data to readable data
for ind, row in weather_temperature.iterrows():
    if weather_temperature.loc[ind, "SDO_ID"] == 1420:
        weather_temperature.loc[ind, "SDO_ID"] = "Frankfurt"
    elif weather_temperature.loc[ind, "SDO_ID"] == 433:
        weather_temperature.loc[ind, "SDO_ID"] = "Berlin"
    else: 
        weather_temperature.loc[ind, "SDO_ID"] = ""

In [27]:
# Drop not necessary columns
cleaned_weather_temperature = weather_temperature.drop(["Qualitaet_Byte", "Qualitaet_Niveau", "Produkt_Code"], axis=1)

In [28]:
cleaned_weather_temperature

         SDO_ID          Zeitstempel  Temperature
0     Frankfurt  2019-02-01 00:00:00         -0.3
1     Frankfurt  2019-02-01 01:00:00         -0.1
2     Frankfurt  2019-02-01 02:00:00         -0.3
3     Frankfurt  2019-02-01 03:00:00         -0.3
4     Frankfurt  2019-02-01 04:00:00          0.0
...         ...                  ...          ...
7195     Berlin  2019-06-30 19:00:00         34.1
7196     Berlin  2019-06-30 20:00:00         30.1
7197     Berlin  2019-06-30 21:00:00         27.8
7198     Berlin  2019-06-30 22:00:00         25.8
7199     Berlin  2019-06-30 23:00:00         24.2

[7200 rows x 3 columns]

## 2.4 merging the datasets to one final table

In [29]:
# Merging the tables windspeed and preciption
weather_set1 = pd.merge(cleaned_weather_windspeed, cleaned_weather_precipitation,  on=('Zeitstempel', 'SDO_ID'), how='outer')

In [30]:
# Result of that firt merge:
weather_set1

         SDO_ID          Zeitstempel  Windspeed in m/s  Precipation in mm
0     Frankfurt  2019-02-01 00:00:00               2.5                0.0
1     Frankfurt  2019-02-01 01:00:00               2.4                0.0
2     Frankfurt  2019-02-01 02:00:00               1.7                0.2
3     Frankfurt  2019-02-01 03:00:00               1.6                0.7
4     Frankfurt  2019-02-01 04:00:00               2.1                0.0
...         ...                  ...               ...                ...
7176     Berlin  2019-06-30 19:00:00               2.6                0.0
7177     Berlin  2019-06-30 20:00:00               6.6                0.0
7178     Berlin  2019-06-30 21:00:00               7.8                0.0
7179     Berlin  2019-06-30 22:00:00               6.5                0.0
7180     Berlin  2019-06-30 23:00:00               5.3                0.0

[7181 rows x 4 columns]

In [31]:
# Merging the table windspeed and preciption with the temerature dataset
weather_set2 = pd.merge(weather_set1, cleaned_weather_temperature,  on=('Zeitstempel', 'SDO_ID'), how='outer')

In [32]:
# Result of that second merge:
weather_set2

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
7195,Berlin,2019-06-13 08:00:00,NaN,NaN,17.6
7196,Berlin,2019-06-13 09:00:00,NaN,NaN,18.9
7197,Berlin,2019-06-13 10:00:00,NaN,NaN,20.0
7198,Berlin,2019-06-13 11:00:00,NaN,NaN,21.6
7199,Berlin,2019-06-13 12:00:00,NaN,NaN,23.1

In [33]:
# Cleaning the merged dataset, because we have rows with NaN
weather = weather_set2.dropna(axis=0)

In [34]:
# Result of our cleaned and merged weather data for berlin and frankfurt from 02/2019 to 06/2019
weather

,SDO_ID,Zeitstempel,Windspeed in m/s,Precipation in mm,Temperature
0,Frankfurt,2019-02-01 00:00:00,2.5,0.0,-0.3
1,Frankfurt,2019-02-01 01:00:00,2.4,0.0,-0.1
2,Frankfurt,2019-02-01 02:00:00,1.7,0.2,-0.3
3,Frankfurt,2019-02-01 03:00:00,1.6,0.7,-0.3
4,Frankfurt,2019-02-01 04:00:00,2.1,0.0,0.0
...,...,...,...,...,...
7176,Berlin,2019-06-30 19:00:00,2.6,0.0,34.1
7177,Berlin,2019-06-30 20:00:00,6.6,0.0,30.1
7178,Berlin,2019-06-30 21:00:00,7.8,0.0,27.8
7179,Berlin,2019-06-30 22:00:00,6.5,0.0,25.8
7180,Berlin,2019-06-30 23:00:00,5.3,0.0,24.2

# 3. Matching Weather Data to the Next Bike Data

## 3.1 Frankfurt Set

### 3.1.1. Preparing the matching

In [35]:
# Matching the temperature data to the frankfurt set
for ind, row in frankfurt.iterrows():
    date = frankfurt.loc[ind, "day"].split("-")
    year = int(date[0])
    month = int(date[1])
    day = int(date[2])
    hour = int(frankfurt.loc[ind, "time"].split(":")[0])
    frankfurt.loc[ind, "Zeitstempel"] = pd.Timestamp(year, month, day, hour)

In [36]:
frankfurt

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443,2019-06-25 21:00:00
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474,2019-06-26 06:00:00
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389,2019-06-27 13:00:00
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012,2019-06-27 13:00:00
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321,2019-06-27 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189,2019-05-07 09:00:00
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923,2019-05-07 12:00:00
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111,2019-05-07 14:00:00
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075,2019-05-07 19:00:00
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900,2019-05-08 04:00:00

In [37]:
frankfurt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20062 entries, 0 to 20061
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   day            20062 non-null  object
 1   time           20062 non-null  object
 2   b_number       20062 non-null  int64
 3   city           20062 non-null  object
 4   trip_duration  20062 non-null  object
 5   orig_lat       20062 non-null  float64
 6   orig_lng       20062 non-null  float64
 7   dest_lat       20062 non-null  float64
 8   dest_lng       20062 non-null  float64
 9   distance       20062 non-null  float64
 10  Zeitstempel    20062 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 2.5+ MB

In [38]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7178 entries, 0 to 7180
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SDO_ID             7178 non-null   object
 1   Zeitstempel        7178 non-null   datetime64[ns]
 2   Windspeed in m/s   7178 non-null   float64
 3   Precipation in mm  7178 non-null   float64
 4   Temperature        7178 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 336.5+ KB

In [39]:
def get_wind(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Frankfurt")].iloc[0, 2]

In [40]:
def get_precipation(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Frankfurt")].iloc[0, 3]

In [41]:
def get_temperature(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Frankfurt")].iloc[0, 4]

### 3.1.2 Adding the Temperature Column to the Frankfurt Set

In [42]:
frankfurt

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443,2019-06-25 21:00:00
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474,2019-06-26 06:00:00
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389,2019-06-27 13:00:00
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012,2019-06-27 13:00:00
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321,2019-06-27 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189,2019-05-07 09:00:00
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923,2019-05-07 12:00:00
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111,2019-05-07 14:00:00
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075,2019-05-07 19:00:00
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900,2019-05-08 04:00:00

In [43]:
# Adding weather wind for Frankfurt Set
for ind, row in frankfurt.iterrows():
    frankfurt.loc[ind, "windspeed"] = get_wind(frankfurt.loc[ind, "Zeitstempel"])

In [44]:
# Adding weather precipation for Frankfurt Set
for ind, row in frankfurt.iterrows():
    frankfurt.loc[ind, "precipation"] = get_precipation(frankfurt.loc[ind, "Zeitstempel"])

In [45]:
# Adding weather temperature for Frankfurt Set
for ind, row in frankfurt.iterrows():
    frankfurt.loc[ind, "temperature"] = get_temperature(frankfurt.loc[ind, "Zeitstempel"])

In [46]:
frankfurt

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel,windspeed,precipation,temperature
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443,2019-06-25 21:00:00,0.7,0.0,27.3
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474,2019-06-26 06:00:00,1.2,0.0,25.0
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389,2019-06-27 13:00:00,5.6,0.0,30.6
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012,2019-06-27 13:00:00,5.6,0.0,30.6
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321,2019-06-27 13:00:00,5.6,0.0,30.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189,2019-05-07 09:00:00,1.4,0.0,10.6
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923,2019-05-07 12:00:00,4.2,0.0,12.1
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111,2019-05-07 14:00:00,4.4,0.0,13.5
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075,2019-05-07 19:00:00,0.5,0.0,9.5
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900,2019-05-08 04:00:00,2.3,0.0,7.3

## 3.2 Berlin Set

In [58]:
for ind, row in berlin_set.iterrows():
    date = berlin_set.loc[ind, "day"].split("-")
    year = int(date[0])
    month = int(date[1])
    day = int(date[2])
    hour = int(berlin_set.loc[ind, "time"].split(":")[0])
    berlin_set.loc[ind, "Zeitstempel"] = pd.Timestamp(year, month, day, hour)

KeyboardInterrupt:

In [59]:
berlin_set.head(100)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043,NaN,2019-02-16 14:00:00
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686,NaN,2019-02-16 17:00:00
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997,NaN,2019-02-16 23:00:00
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285,NaN,2019-02-18 17:00:00
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611,NaN,2019-02-19 13:00:00
5,2019-02-19,13:46:00,13001,berlin,0 days 00:10:00.000000000,52.543311,13.441611,52.536231,13.432285,NaN,2019-02-19 13:00:00
6,2019-02-19,15:49:00,13001,berlin,0 days 00:25:00.000000000,52.536231,13.432285,52.527150,13.415514,NaN,2019-02-19 15:00:00
7,2019-02-19,18:28:00,13001,berlin,0 days 00:36:00.000000000,52.527150,13.415514,52.544556,13.422655,NaN,2019-02-19 18:00:00
8,2019-02-25,16:16:00,13001,berlin,0 days 00:27:00.000000000,52.515353,13.459825,52.512621,13.381388,NaN,2019-02-25 16:00:00
9,2019-02-25,18:14:00,13001,berlin,0 days 00:05:00.000000000,52.512621,13.381388,52.516231,13.381112,NaN,2019-02-25 18:00:00
10,2019-02-27,09:28:00,13001,berlin,0 days 00:25:00.000000000,52.517006,13.386998,52.526464,13.446953,NaN,2019-02-27 09:00:00
11,2019-02-27,14:46:00,13001,berlin,0 days 00:18:00.000000000,52.526464,13.446953,52.545465,13.404587,NaN,2019-02-27 14:00:00
12,2019-03-02,11:43:00,13001,berlin,0 days 00:26:00.000000000,52.545453,13.404599,52.545358,13.404616,NaN,2019-03-02 11:00:00
13,2019-03-04,13:56:00,13001,berlin,0 days 00:06:00.000000000,52.541146,13.419509,52.536389,13.416183,NaN,2019-03-04 13:00:00
14,2019-03-04,14:35:00,13001,berlin,0 days 00:05:00.000000000,52.536389,13.416183,52.536550,13.418196,NaN,2019-03-04 14:00:00
15,2019-03-06,22:15:00,13001,berlin,0 days 00:11:00.000000000,52.541040,13.419423,52.536231,13.432285,NaN,2019-03-06 22:00:00
16,2019-03-24,13:55:00,13001,berlin,0 days 00:19:00.000000000,52.493639,13.412475,52.494567,13.415278,NaN,2019-03-24 13:00:00
17,2019-03-24,16:30:00,13001,berlin,0 days 00:15:00.000000000,52.494567,13.415278,52.503024,13.388430,NaN,2019-03-24 16:00:00
18,2019-03-24,17:24:00,13001,berlin,0 days 00:14:00.000000000,52.503030,13.388402,52.492408,13.410904,NaN,2019-03-24 17:00:00
19,2019-03-24,18:01:00,13001,berlin,0 days 00:28:00.000000000,52.492403,13.410927,52.492327,13.411226,NaN,2019-03-24 18:00:00
20,2019-03-26,13:40:00,13001,berlin,0 days 00:45:00.000000000,52.492327,13.411226,52.489601,13.407977,NaN,2019-03-26 13:00:00
21,2019-03-26,16:04:00,13001,berlin,0 days 00:16:00.000000000,52.489601,13.407977,52.509702,13.378569,NaN,2019-03-26 16:00:00
22,2019-03-27,18:34:00,13001,berlin,0 days 00:18:00.000000000,52.509809,13.379384,52.494602,13.346799,NaN,2019-03-27 18:00:00
23,2019-04-01,16:18:00,13001,berlin,0 days 00:30:00.000000000,52.489601,13.407977,52.536506,13.422591,NaN,2019-04-01 16:00:00
24,2019-04-03,07:08:00,13001,berlin,0 days 00:28:00.000000000,52.536506,13.422591,52.489601,13.407977,NaN,2019-04-03 07:00:00
25,2019-04-06,10:50:00,13001,berlin,0 days 01:00:00.000000000,52.532183,13.421317,52.529784,13.418194,NaN,2019-04-06 10:00:00
26,2019-04-07,09:18:00,13001,berlin,0 days 00:19:00.000000000,52.529784,13.418194,52.515599,13.398198,NaN,2019-04-07 09:00:00
27,2019-04-07,10:09:00,13001,berlin,0 days 00:12:00.000000000,52.515599,13.398198,52.516302,13.376464,NaN,2019-04-07 10:00:00
28,2019-04-08,16:10:00,13001,berlin,0 days 01:47:00.000000000,52.500728,13.412820,52.513740,13.389083,NaN,2019-04-08 16:00:00
29,2019-04-09,16:24:00,13001,berlin,0 days 00:32:00.000000000,52.513740,13.389083,52.523356,13.359743,NaN,2019-04-09 16:00:00
30,2019-04-10,06:59:00,13001,berlin,0 days 00:12:00.000000000,52.523356,13.359743,52.513740,13.389083,NaN,2019-04-10 06:00:00
31,2019-04-11,06:23:00,13001,berlin,0 days 00:14:00.000000000,52.496227,13.419697,52.503377,13.444991,NaN,2019-04-11 06:00:00
32,2019-04-11,15:12:00,13001,berlin,0 days 00:12:00.000000000,52.485126,13.444498,52.475912,13.447492,NaN,2019-04-11 15:00:00
33,2019-04-11,16:57:00,13001,berlin,0 days 00:11:00.000000000,52.475912,13.447492,52.485126,13.444498,NaN,2019-04-11 16:00:00
34,2019-04-12,20:36:00,13001,berlin,0 days 00:11:00.000000000,52.503527,13.444083,52.502084,13.429816,NaN,2019-04-12 20:00:00
35,2019-04-12,21:37:00,13001,berlin,0 days 00:19:00.000000000,52.502084,13.429816,52.485910,13.430926,NaN,2019-04-12 21:00:00
36,2019-04-13,11:53:00,13001,berlin,0 days 00:59:00.000000000,52.485910,13.430926,52.524729,13.405433,NaN,2019-04-13 11:00:00
37,2019-04-13,17:00:00,13001,berlin,0 days 00:44:00.000000000,52.524729,13.405433,52.484653,13.433832,NaN,2019-04-13 17:00:00
38,2019-04-14,13:08:00,13001,berlin,0 days 00:12:00.000000000,52.484653,13.433832,52.496227,13.419697,NaN,2019-04-14 13:00:00
39,2019-04-14,13:24:00,13001,berlin,0 days 00:29:00.000000000,52.496227,13.419697,52.511742,13.426993,NaN,2019-04-14 13:00:00
40,2019-04-18,14:07:00,13001,berlin,0 days 00:13:00.000000000,52.490071,13.386773,52.477578,13.365158,NaN,2019-04-18 14:00:00
41,2019-04-21,07:03:00,13001,berlin,0 days 01:55:00.000000000,52.477430,13.364927,52.486772,13.428720,NaN,2019-04-21 07:00:00
42,2019-04-21,11:29:00,13001,berlin,0 days 01:26:00.000000000,52.486772,13.428720,52.489599,13.439063,NaN,2019-04-21 11:00:00
43,2019-04-21,13:40:00,13001,berlin,0 days 00:10:00.000000000,52.489599,13.439063,52.497809,13.431698,NaN,2019-04-21 13:00:00
44,2019-04-26,07:20:00,13001,berlin,0 days 02:35:00.000000000,52.508079,13.450687,52.494437,13.424663,NaN,2019-04-26 07:00:00
45,2019-04-28,19:49:00,13001,berlin,0 days 00:10:00.000000000,52.489044,13.422128,52.486499,13.432252,NaN,2019-04-28 19:00:00
46,2019-05-05,10:44:00,13001,berlin,0 days 01:38:00.000000000,52.489237,13.389961,52.493286,13.382524,NaN,2019-05-05 10:00:00
47,2019-05-09,13:32:00,13001,berlin,0 days 00:10:00.000000000,52.490558,13.313330,52.486896,13.338074,NaN,2019-05-09 13:00:00
48,2019-05-10,06:25:00,13001,berlin,0 days 00:14:00.000000000,52.486896,13.338074,52.490544,13.314097,NaN,2019-05-10 06:00:00
49,2019-05-21,09:44:00,13001,berlin,0 days 01:04:00.000000000,52.490558,13.313330,52.498323,13.296157,NaN,2019-05-21 09:00:00
50,2019-05-24,10:10:00,13001,berlin,0 days 00:11:00.000000000,52.498323,13.296157,52.497417,13.316898,NaN,2019-05-24 10:00:00
51,2019-05-25,02:25:00,13001,berlin,0 days 00:19:00.000000000,52.497750,13.317022,52.480018,13.325877,NaN,2019-05-25 02:00:00
52,2019-05-25,14:17:00,13001,berlin,0 days 00:27:00.000000000,52.480018,13.325877,52.516095,13.296165,NaN,2019-05-25 14:00:00
53,2019-06-01,10:46:00,13001,berlin,0 days 00:40:00.000000000,52.516765,13.294588,52.529334,13.296515,NaN,2019-06-01 10:00:00
54,2019-06-03,18:36:00,13001,berlin,0 days 00:42:00.000000000,52.529294,13.296511,52.513434,13.322788,NaN,2019-06-03 18:00:00
55,2019-06-04,06:51:00,13001,berlin,0 days 00:07:00.000000000,52.513434,13.322788,52.519613,13.319410,NaN,2019-06-04 06:00:00
56,2019-06-04,15:57:00,13001,berlin,0 days 00:07:00.000000000,52.519417,13.319549,52.511947,13.311819,NaN,2019-06-04 15:00:00
57,2019-06-05,13:49:00,13001,berlin,0 days 00:11:00.000000000,52.511981,13.311576,52.506806,13.299635,NaN,2019-06-05 13:00:00
58,2019-06-05,14:46:00,13001,berlin,0 days 00:12:00.000000000,52.506806,13.299635,52.512018,13.314133,NaN,2019-06-05 14:00:00
59,2019-06-05,17:26:00,13001,berlin,0 days 00:48:00.000000000,52.512018,13.314133,52.526768,13.370595,NaN,2019-06-05 17:00:00
60,2019-06-05,19:52:00,13001,berlin,0 days 01:11:00.000000000,52.526768,13.370595,52.512024,13.314170,NaN,2019-06-05 19:00:00
61,2019-06-06,10:38:00,13001,berlin,0 days 00:11:00.000000000,52.512024,13.314170,52.511801,13.309655,NaN,2019-06-06 10:00:00
62,2019-06-06,12:04:00,13001,berlin,0 days 00:25:00.000000000,52.511801,13.309655,52.493641,13.385655,NaN,2019-06-06 12:00:00
63,2019-06-07,07:40:00,13001,berlin,0 days 00:29:00.000000000,52.493641,13.385655,52.513434,13.322788,NaN,2019-06-07 07:00:00
64,2019-06-07,14:50:00,13001,berlin,0 days 02:16:00.000000000,52.513434,13.322788,52.508075,13.376053,NaN,2019-06-07 14:00:00
65,2019-06-08,11:31:00,13001,berlin,0 days 00:15:00.000000000,52.508075,13.376053,52.493049,13.387719,NaN,2019-06-08 11:00:00
66,2019-06-08,20:13:00,13001,berlin,0 days 00:19:00.000000000,52.493067,13.387829,52.473960,13.378132,NaN,2019-06-08 20:00:00
67,2019-06-15,12:02:00,13001,berlin,0 days 00:55:00.000000000,52.501620,13.477317,52.486314,13.481962,NaN,2019-06-15 12:00:00
68,2019-06-15,16:02:00,13001,berlin,0 days 00:27:00.000000000,52.486314,13.481962,52.472737,13.428618,NaN,2019-06-15 16:00:00
69,2019-06-15,17:17:00,13001,berlin,0 days 00:29:00.000000000,52.472737,13.428618,52.495624,13.436788,NaN,2019-06-15 17:00:00
70,2019-06-17,17:54:00,13001,berlin,0 days 00:15:00.000000000,52.495624,13.436788,52.498372,13.429182,NaN,2019-06-17 17:00:00
71,2019-06-19,06:55:00,13001,berlin,0 days 00:19:00.000000000,52.498372,13.429182,52.492325,13.387463,NaN,2019-06-19 06:00:00
72,2019-06-20,23:48:00,13001,berlin,0 days 00:24:00.000000000,52.489382,13.392587,52.484814,13.438125,NaN,2019-06-20 23:00:00
73,2019-06-21,11:13:00,13001,berlin,0 days 01:14:00.000000000,52.484797,13.438122,52.490200,13.235715,NaN,2019-06-21 11:00:00
74,2019-02-13,19:55:00,13002,berlin,0 days 00:10:00.000000000,52.474677,13.450782,52.470946,13.448026,NaN,2019-02-13 19:00:00
75,2019-02-15,09:48:00,13002,berlin,0 days 00:09:00.000000000,52.470946,13.448026,52.472737,13.428618,NaN,2019-02-15 09:00:00
76,2019-02-15,10:13:00,13002,berlin,0 days 00:07:00.000000000,52.472737,13.428618,52.473502,13.440874,NaN,2019-02-15 10:00:00
77,2019-02-15,12:06:00,13002,berlin,0 days 00:22:00.000000000,52.473502,13.440874,52.467995,13.430847,NaN,2019-02-15 12:00:00
78,2019-02-15,12:47:00,13002,berlin,0 days 00:06:00.000000000,52.467995,13.430847,52.469951,13.441477,NaN,2019-02-15 12:00:00
79,2019-02-15,13:31:00,13002,berlin,0 days 00:07:00.000000000,52.469951,13.441477,52.473732,13.444457,NaN,2019-02-15 13:00:00
80,2019-02-17,00:37:00,13002,berlin,0 days 00:11:00.000000000,52.473732,13.444457,52.477226,13.422980,NaN,2019-02-17 00:00:00
81,2019-02-17,01:45:00,13002,berlin,0 days 00:25:00.000000000,52.477226,13.422980,52.499867,13.434490,NaN,2019-02-17 01:00:00
82,2019-02-17,03:11:00,13002,berlin,0 days 00:51:00.000000000,52.499867,13.434490,52.496877,13.440603,NaN,2019-02-17 03:00:00
83,2019-02-17,14:40:00,13002,berlin,0 days 00:19:00.000000000,52.496877,13.440603,52.482688,13.432327,NaN,2019-02-17 14:00:00
84,2019-02-17,15:59:00,13002,berlin,0 days 00:13:00.000000000,52.482688,13.432327,52.476736,13.418464,NaN,2019-02-17 15:00:00
85,2019-02-18,10:15:00,13002,berlin,0 days 00:27:00.000000000,52.476736,13.418464,52.487122,13.422333,NaN,2019-02-18 10:00:00
86,2019-02-22,11:39:00,13002,berlin,0 days 00:11:00.000000000,52.487122,13.422333,52.489121,13.397390,NaN,2019-02-22 11:00:00
87,2019-02-25,09:34:00,13002,berlin,0 days 00:12:00.000000000,52.499179,13.427767,52.485126,13.444498,NaN,2019-02-25 09:00:00
88,2019-02-26,08:03:00,13002,berlin,0 days 00:16:00.000000000,52.485126,13.444498,52.500304,13.413844,NaN,2019-02-26 08:00:00
89,2019-02-26,13:10:00,13002,berlin,0 days 00:54:00.000000000,52.500304,13.413844,52.500753,13.412839,NaN,2019-02-26 13:00:00
90,2019-02-26,17:46:00,13002,berlin,0 days 00:25:00.000000000,52.500753,13.412839,52.498955,13.354408,NaN,2019-02-26 17:00:00
91,2019-03-06,01:33:00,13002,berlin,0 days 00:31:00.000000000,52.498955,13.354408,52.532780,13.430123,NaN,2019-03-06 01:00:00
92,2019-03-08,17:15:00,13002,berlin,0 days 00:18:00.000000000,52.529567,13.401463,52.531675,13.426749,NaN,2019-03-08 17:00:00
93,2019-03-09,11:33:00,13002,berlin,0 days 00:32:00.000000000,52.531675,13.426749,52.514750,13.486650,NaN,2019-03-09 11:00:00
94,2019-03-09,14:53:00,13002,berlin,0 days 00:36:00.000000000,52.514750,13.486650,52.543399,13.417107,NaN,2019-03-09 14:00:00
95,2019-03-09,16:40:00,13002,berlin,0 days 00:15:00.000000000,52.543399,13.417107,52.531436,13.426548,NaN,2019-03-09 16:00:00
96,2019-03-13,17:51:00,13002,berlin,0 days 00:24:00.000000000,52.499013,13.426178,52.526464,13.446953,NaN,2019-03-13 17:00:00
97,2019-03-19,12:58:00,13002,berlin,0 days 00:07:00.000000000,52.476789,13.426652,52.469951,13.441477,NaN,2019-03-19 12:00:00
98,2019-03-20,13:22:00,13002,berlin,0 days 00:11:00.000000000,52.489601,13.407977,52.484653,13.433832,NaN,2019-03-20 13:00:00
99,2019-03-20,18:49:00,13002,berlin,0 days 00:11:00.000000000,52.484653,13.433832,52.469951,13.441477,NaN,2019-03-20 18:00:00

In [60]:
def get_temperatureBerlin(day):
    return weather[(weather["Zeitstempel"] == day) & (weather["SDO_ID"] == "Berlin")].iloc[0, 4]

In [61]:
print(get_temperatureBerlin(berlin_set.loc[0, "Zeitstempel"]))

16.6

In [62]:
berlin_set.columns

Index(['day', 'time', 'b_number', 'city', 'trip_duration', 'orig_lat',
       'orig_lng', 'dest_lat', 'dest_lng', 'distance', 'Zeitstempel'],
      dtype='object')

In [63]:
for ind, row in berlin_set.iterrows():
    berlin_set.loc[ind, "temperature"] = get_temperatureBerlin(berlin_set.loc[ind, "Zeitstempel"])

IndexError: single positional indexer is out-of-bounds

In [64]:
berlin_set.head(100)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel,temperature
0,2019-02-16,14:53:00,13001,berlin,0 days 00:21:00.000000000,52.505076,13.414721,52.534591,13.452043,NaN,2019-02-16 14:00:00,16.6
1,2019-02-16,17:22:00,13001,berlin,0 days 00:27:00.000000000,52.534591,13.452043,52.504621,13.415686,NaN,2019-02-16 17:00:00,12.4
2,2019-02-16,23:29:00,13001,berlin,0 days 00:22:00.000000000,52.504621,13.415686,52.528998,13.456997,NaN,2019-02-16 23:00:00,5.3
3,2019-02-18,17:49:00,13001,berlin,0 days 00:15:00.000000000,52.528998,13.456997,52.536231,13.432285,NaN,2019-02-18 17:00:00,12.3
4,2019-02-19,13:08:00,13001,berlin,0 days 00:09:00.000000000,52.536231,13.432285,52.543311,13.441611,NaN,2019-02-19 13:00:00,9.7
5,2019-02-19,13:46:00,13001,berlin,0 days 00:10:00.000000000,52.543311,13.441611,52.536231,13.432285,NaN,2019-02-19 13:00:00,9.7
6,2019-02-19,15:49:00,13001,berlin,0 days 00:25:00.000000000,52.536231,13.432285,52.527150,13.415514,NaN,2019-02-19 15:00:00,10.0
7,2019-02-19,18:28:00,13001,berlin,0 days 00:36:00.000000000,52.527150,13.415514,52.544556,13.422655,NaN,2019-02-19 18:00:00,9.2
8,2019-02-25,16:16:00,13001,berlin,0 days 00:27:00.000000000,52.515353,13.459825,52.512621,13.381388,NaN,2019-02-25 16:00:00,13.1
9,2019-02-25,18:14:00,13001,berlin,0 days 00:05:00.000000000,52.512621,13.381388,52.516231,13.381112,NaN,2019-02-25 18:00:00,10.1
10,2019-02-27,09:28:00,13001,berlin,0 days 00:25:00.000000000,52.517006,13.386998,52.526464,13.446953,NaN,2019-02-27 09:00:00,8.4
11,2019-02-27,14:46:00,13001,berlin,0 days 00:18:00.000000000,52.526464,13.446953,52.545465,13.404587,NaN,2019-02-27 14:00:00,16.6
12,2019-03-02,11:43:00,13001,berlin,0 days 00:26:00.000000000,52.545453,13.404599,52.545358,13.404616,NaN,2019-03-02 11:00:00,5.1
13,2019-03-04,13:56:00,13001,berlin,0 days 00:06:00.000000000,52.541146,13.419509,52.536389,13.416183,NaN,2019-03-04 13:00:00,10.0
14,2019-03-04,14:35:00,13001,berlin,0 days 00:05:00.000000000,52.536389,13.416183,52.536550,13.418196,NaN,2019-03-04 14:00:00,12.9
15,2019-03-06,22:15:00,13001,berlin,0 days 00:11:00.000000000,52.541040,13.419423,52.536231,13.432285,NaN,2019-03-06 22:00:00,9.2
16,2019-03-24,13:55:00,13001,berlin,0 days 00:19:00.000000000,52.493639,13.412475,52.494567,13.415278,NaN,2019-03-24 13:00:00,11.7
17,2019-03-24,16:30:00,13001,berlin,0 days 00:15:00.000000000,52.494567,13.415278,52.503024,13.388430,NaN,2019-03-24 16:00:00,9.3
18,2019-03-24,17:24:00,13001,berlin,0 days 00:14:00.000000000,52.503030,13.388402,52.492408,13.410904,NaN,2019-03-24 17:00:00,8.8
19,2019-03-24,18:01:00,13001,berlin,0 days 00:28:00.000000000,52.492403,13.410927,52.492327,13.411226,NaN,2019-03-24 18:00:00,6.8
20,2019-03-26,13:40:00,13001,berlin,0 days 00:45:00.000000000,52.492327,13.411226,52.489601,13.407977,NaN,2019-03-26 13:00:00,6.5
21,2019-03-26,16:04:00,13001,berlin,0 days 00:16:00.000000000,52.489601,13.407977,52.509702,13.378569,NaN,2019-03-26 16:00:00,7.9
22,2019-03-27,18:34:00,13001,berlin,0 days 00:18:00.000000000,52.509809,13.379384,52.494602,13.346799,NaN,2019-03-27 18:00:00,9.8
23,2019-04-01,16:18:00,13001,berlin,0 days 00:30:00.000000000,52.489601,13.407977,52.536506,13.422591,NaN,2019-04-01 16:00:00,10.9
24,2019-04-03,07:08:00,13001,berlin,0 days 00:28:00.000000000,52.536506,13.422591,52.489601,13.407977,NaN,2019-04-03 07:00:00,9.5
25,2019-04-06,10:50:00,13001,berlin,0 days 01:00:00.000000000,52.532183,13.421317,52.529784,13.418194,NaN,2019-04-06 10:00:00,17.4
26,2019-04-07,09:18:00,13001,berlin,0 days 00:19:00.000000000,52.529784,13.418194,52.515599,13.398198,NaN,2019-04-07 09:00:00,16.2
27,2019-04-07,10:09:00,13001,berlin,0 days 00:12:00.000000000,52.515599,13.398198,52.516302,13.376464,NaN,2019-04-07 10:00:00,16.9
28,2019-04-08,16:10:00,13001,berlin,0 days 01:47:00.000000000,52.500728,13.412820,52.513740,13.389083,NaN,2019-04-08 16:00:00,17.4
29,2019-04-09,16:24:00,13001,berlin,0 days 00:32:00.000000000,52.513740,13.389083,52.523356,13.359743,NaN,2019-04-09 16:00:00,9.9
30,2019-04-10,06:59:00,13001,berlin,0 days 00:12:00.000000000,52.523356,13.359743,52.513740,13.389083,NaN,2019-04-10 06:00:00,2.5
31,2019-04-11,06:23:00,13001,berlin,0 days 00:14:00.000000000,52.496227,13.419697,52.503377,13.444991,NaN,2019-04-11 06:00:00,1.6
32,2019-04-11,15:12:00,13001,berlin,0 days 00:12:00.000000000,52.485126,13.444498,52.475912,13.447492,NaN,2019-04-11 15:00:00,4.9
33,2019-04-11,16:57:00,13001,berlin,0 days 00:11:00.000000000,52.475912,13.447492,52.485126,13.444498,NaN,2019-04-11 16:00:00,4.7
34,2019-04-12,20:36:00,13001,berlin,0 days 00:11:00.000000000,52.503527,13.444083,52.502084,13.429816,NaN,2019-04-12 20:00:00,3.3
35,2019-04-12,21:37:00,13001,berlin,0 days 00:19:00.000000000,52.502084,13.429816,52.485910,13.430926,NaN,2019-04-12 21:00:00,3.3
36,2019-04-13,11:53:00,13001,berlin,0 days 00:59:00.000000000,52.485910,13.430926,52.524729,13.405433,NaN,2019-04-13 11:00:00,6.1
37,2019-04-13,17:00:00,13001,berlin,0 days 00:44:00.000000000,52.524729,13.405433,52.484653,13.433832,NaN,2019-04-13 17:00:00,6.4
38,2019-04-14,13:08:00,13001,berlin,0 days 00:12:00.000000000,52.484653,13.433832,52.496227,13.419697,NaN,2019-04-14 13:00:00,7.5
39,2019-04-14,13:24:00,13001,berlin,0 days 00:29:00.000000000,52.496227,13.419697,52.511742,13.426993,NaN,2019-04-14 13:00:00,7.5
40,2019-04-18,14:07:00,13001,berlin,0 days 00:13:00.000000000,52.490071,13.386773,52.477578,13.365158,NaN,2019-04-18 14:00:00,19.9
41,2019-04-21,07:03:00,13001,berlin,0 days 01:55:00.000000000,52.477430,13.364927,52.486772,13.428720,NaN,2019-04-21 07:00:00,11.9
42,2019-04-21,11:29:00,13001,berlin,0 days 01:26:00.000000000,52.486772,13.428720,52.489599,13.439063,NaN,2019-04-21 11:00:00,18.9
43,2019-04-21,13:40:00,13001,berlin,0 days 00:10:00.000000000,52.489599,13.439063,52.497809,13.431698,NaN,2019-04-21 13:00:00,20.2
44,2019-04-26,07:20:00,13001,berlin,0 days 02:35:00.000000000,52.508079,13.450687,52.494437,13.424663,NaN,2019-04-26 07:00:00,19.1
45,2019-04-28,19:49:00,13001,berlin,0 days 00:10:00.000000000,52.489044,13.422128,52.486499,13.432252,NaN,2019-04-28 19:00:00,10.4
46,2019-05-05,10:44:00,13001,berlin,0 days 01:38:00.000000000,52.489237,13.389961,52.493286,13.382524,NaN,2019-05-05 10:00:00,10.2
47,2019-05-09,13:32:00,13001,berlin,0 days 00:10:00.000000000,52.490558,13.313330,52.486896,13.338074,NaN,2019-05-09 13:00:00,16.2
48,2019-05-10,06:25:00,13001,berlin,0 days 00:14:00.000000000,52.486896,13.338074,52.490544,13.314097,NaN,2019-05-10 06:00:00,12.8
49,2019-05-21,09:44:00,13001,berlin,0 days 01:04:00.000000000,52.490558,13.313330,52.498323,13.296157,NaN,2019-05-21 09:00:00,20.7
50,2019-05-24,10:10:00,13001,berlin,0 days 00:11:00.000000000,52.498323,13.296157,52.497417,13.316898,NaN,2019-05-24 10:00:00,20.8
51,2019-05-25,02:25:00,13001,berlin,0 days 00:19:00.000000000,52.497750,13.317022,52.480018,13.325877,NaN,2019-05-25 02:00:00,12.6
52,2019-05-25,14:17:00,13001,berlin,0 days 00:27:00.000000000,52.480018,13.325877,52.516095,13.296165,NaN,2019-05-25 14:00:00,15.9
53,2019-06-01,10:46:00,13001,berlin,0 days 00:40:00.000000000,52.516765,13.294588,52.529334,13.296515,NaN,2019-06-01 10:00:00,23.5
54,2019-06-03,18:36:00,13001,berlin,0 days 00:42:00.000000000,52.529294,13.296511,52.513434,13.322788,NaN,2019-06-03 18:00:00,24.5
55,2019-06-04,06:51:00,13001,berlin,0 days 00:07:00.000000000,52.513434,13.322788,52.519613,13.319410,NaN,2019-06-04 06:00:00,20.8
56,2019-06-04,15:57:00,13001,berlin,0 days 00:07:00.000000000,52.519417,13.319549,52.511947,13.311819,NaN,2019-06-04 15:00:00,30.9
57,2019-06-05,13:49:00,13001,berlin,0 days 00:11:00.000000000,52.511981,13.311576,52.506806,13.299635,NaN,2019-06-05 13:00:00,33.5
58,2019-06-05,14:46:00,13001,berlin,0 days 00:12:00.000000000,52.506806,13.299635,52.512018,13.314133,NaN,2019-06-05 14:00:00,33.1
59,2019-06-05,17:26:00,13001,berlin,0 days 00:48:00.000000000,52.512018,13.314133,52.526768,13.370595,NaN,2019-06-05 17:00:00,31.4
60,2019-06-05,19:52:00,13001,berlin,0 days 01:11:00.000000000,52.526768,13.370595,52.512024,13.314170,NaN,2019-06-05 19:00:00,28.8
61,2019-06-06,10:38:00,13001,berlin,0 days 00:11:00.000000000,52.512024,13.314170,52.511801,13.309655,NaN,2019-06-06 10:00:00,28.0
62,2019-06-06,12:04:00,13001,berlin,0 days 00:25:00.000000000,52.511801,13.309655,52.493641,13.385655,NaN,2019-06-06 12:00:00,31.1
63,2019-06-07,07:40:00,13001,berlin,0 days 00:29:00.000000000,52.493641,13.385655,52.513434,13.322788,NaN,2019-06-07 07:00:00,17.7
64,2019-06-07,14:50:00,13001,berlin,0 days 02:16:00.000000000,52.513434,13.322788,52.508075,13.376053,NaN,2019-06-07 14:00:00,24.2
65,2019-06-08,11:31:00,13001,berlin,0 days 00:15:00.000000000,52.508075,13.376053,52.493049,13.387719,NaN,2019-06-08 11:00:00,18.0
66,2019-06-08,20:13:00,13001,berlin,0 days 00:19:00.000000000,52.493067,13.387829,52.473960,13.378132,NaN,2019-06-08 20:00:00,18.0
67,2019-06-15,12:02:00,13001,berlin,0 days 00:55:00.000000000,52.501620,13.477317,52.486314,13.481962,NaN,2019-06-15 12:00:00,30.5
68,2019-06-15,16:02:00,13001,berlin,0 days 00:27:00.000000000,52.486314,13.481962,52.472737,13.428618,NaN,2019-06-15 16:00:00,28.3
69,2019-06-15,17:17:00,13001,berlin,0 days 00:29:00.000000000,52.472737,13.428618,52.495624,13.436788,NaN,2019-06-15 17:00:00,26.4
70,2019-06-17,17:54:00,13001,berlin,0 days 00:15:00.000000000,52.495624,13.436788,52.498372,13.429182,NaN,2019-06-17 17:00:00,25.7
71,2019-06-19,06:55:00,13001,berlin,0 days 00:19:00.000000000,52.498372,13.429182,52.492325,13.387463,NaN,2019-06-19 06:00:00,21.4
72,2019-06-20,23:48:00,13001,berlin,0 days 00:24:00.000000000,52.489382,13.392587,52.484814,13.438125,NaN,2019-06-20 23:00:00,19.6
73,2019-06-21,11:13:00,13001,berlin,0 days 01:14:00.000000000,52.484797,13.438122,52.490200,13.235715,NaN,2019-06-21 11:00:00,23.1
74,2019-02-13,19:55:00,13002,berlin,0 days 00:10:00.000000000,52.474677,13.450782,52.470946,13.448026,NaN,2019-02-13 19:00:00,7.2
75,2019-02-15,09:48:00,13002,berlin,0 days 00:09:00.000000000,52.470946,13.448026,52.472737,13.428618,NaN,2019-02-15 09:00:00,5.2
76,2019-02-15,10:13:00,13002,berlin,0 days 00:07:00.000000000,52.472737,13.428618,52.473502,13.440874,NaN,2019-02-15 10:00:00,7.9
77,2019-02-15,12:06:00,13002,berlin,0 days 00:22:00.000000000,52.473502,13.440874,52.467995,13.430847,NaN,2019-02-15 12:00:00,12.5
78,2019-02-15,12:47:00,13002,berlin,0 days 00:06:00.000000000,52.467995,13.430847,52.469951,13.441477,NaN,2019-02-15 12:00:00,12.5
79,2019-02-15,13:31:00,13002,berlin,0 days 00:07:00.000000000,52.469951,13.441477,52.473732,13.444457,NaN,2019-02-15 13:00:00,13.6
80,2019-02-17,00:37:00,13002,berlin,0 days 00:11:00.000000000,52.473732,13.444457,52.477226,13.422980,NaN,2019-02-17 00:00:00,4.3
81,2019-02-17,01:45:00,13002,berlin,0 days 00:25:00.000000000,52.477226,13.422980,52.499867,13.434490,NaN,2019-02-17 01:00:00,3.2
82,2019-02-17,03:11:00,13002,berlin,0 days 00:51:00.000000000,52.499867,13.434490,52.496877,13.440603,NaN,2019-02-17 03:00:00,2.6
83,2019-02-17,14:40:00,13002,berlin,0 days 00:19:00.000000000,52.496877,13.440603,52.482688,13.432327,NaN,2019-02-17 14:00:00,13.9
84,2019-02-17,15:59:00,13002,berlin,0 days 00:13:00.000000000,52.482688,13.432327,52.476736,13.418464,NaN,2019-02-17 15:00:00,13.4
85,2019-02-18,10:15:00,13002,berlin,0 days 00:27:00.000000000,52.476736,13.418464,52.487122,13.422333,NaN,2019-02-18 10:00:00,10.6
86,2019-02-22,11:39:00,13002,berlin,0 days 00:11:00.000000000,52.487122,13.422333,52.489121,13.397390,NaN,2019-02-22 11:00:00,3.1
87,2019-02-25,09:34:00,13002,berlin,0 days 00:12:00.000000000,52.499179,13.427767,52.485126,13.444498,NaN,2019-02-25 09:00:00,6.8
88,2019-02-26,08:03:00,13002,berlin,0 days 00:16:00.000000000,52.485126,13.444498,52.500304,13.413844,NaN,2019-02-26 08:00:00,5.0
89,2019-02-26,13:10:00,13002,berlin,0 days 00:54:00.000000000,52.500304,13.413844,52.500753,13.412839,NaN,2019-02-26 13:00:00,11.0
90,2019-02-26,17:46:00,13002,berlin,0 days 00:25:00.000000000,52.500753,13.412839,52.498955,13.354408,NaN,2019-02-26 17:00:00,10.2
91,2019-03-06,01:33:00,13002,berlin,0 days 00:31:00.000000000,52.498955,13.354408,52.532780,13.430123,NaN,2019-03-06 01:00:00,3.1
92,2019-03-08,17:15:00,13002,berlin,0 days 00:18:00.000000000,52.529567,13.401463,52.531675,13.426749,NaN,2019-03-08 17:00:00,8.1
93,2019-03-09,11:33:00,13002,berlin,0 days 00:32:00.000000000,52.531675,13.426749,52.514750,13.486650,NaN,2019-03-09 11:00:00,10.0
94,2019-03-09,14:53:00,13002,berlin,0 days 00:36:00.000000000,52.514750,13.486650,52.543399,13.417107,NaN,2019-03-09 14:00:00,11.3
95,2019-03-09,16:40:00,13002,berlin,0 days 00:15:00.000000000,52.543399,13.417107,52.531436,13.426548,NaN,2019-03-09 16:00:00,9.7
96,2019-03-13,17:51:00,13002,berlin,0 days 00:24:00.000000000,52.499013,13.426178,52.526464,13.446953,NaN,2019-03-13 17:00:00,8.9
97,2019-03-19,12:58:00,13002,berlin,0 days 00:07:00.000000000,52.476789,13.426652,52.469951,13.441477,NaN,2019-03-19 12:00:00,7.2
98,2019-03-20,13:22:00,13002,berlin,0 days 00:11:00.000000000,52.489601,13.407977,52.484653,13.433832,NaN,2019-03-20 13:00:00,12.9
99,2019-03-20,18:49:00,13002,berlin,0 days 00:11:00.000000000,52.484653,13.433832,52.469951,13.441477,NaN,2019-03-20 18:00:00,12.0

# 4. KPIs

In [59]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7178 entries, 0 to 7180
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SDO_ID             7178 non-null   object
 1   Zeitstempel        7178 non-null   datetime64[ns]
 2   Windspeed in m/s   7178 non-null   float64
 3   Precipation in mm  7178 non-null   float64
 4   Temperature        7178 non-null   float64
 5   usage              1 non-null      float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 712.5+ KB

In [48]:
frankfurt

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,distance,Zeitstempel,windspeed,precipation,temperature
0,2019-06-25,21:51:00,11420,frankfurt,0 days 00:07:00.000000000,49.991072,8.412515,49.984942,8.409474,0.715443,2019-06-25 21:00:00,0.7,0.0,27.3
1,2019-06-26,06:33:00,11420,frankfurt,0 days 00:14:00.000000000,49.984942,8.409474,49.985673,8.424641,1.087474,2019-06-26 06:00:00,1.2,0.0,25.0
2,2019-06-27,13:20:00,11420,frankfurt,0 days 00:07:00.000000000,49.985613,8.424448,49.985538,8.424533,0.010389,2019-06-27 13:00:00,5.6,0.0,30.6
3,2019-06-27,13:30:00,11420,frankfurt,0 days 00:04:00.000000000,49.985528,8.424512,49.985679,8.424603,0.018012,2019-06-27 13:00:00,5.6,0.0,30.6
4,2019-06-27,13:59:00,11420,frankfurt,0 days 00:09:00.000000000,49.985679,8.424603,49.985636,8.424570,0.005321,2019-06-27 13:00:00,5.6,0.0,30.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20057,2019-05-07,09:36:00,91229,frankfurt,0 days 02:12:00.000000000,50.585947,8.683895,50.583418,8.673678,0.774189,2019-05-07 09:00:00,1.4,0.0,10.6
20058,2019-05-07,12:00:00,91229,frankfurt,0 days 00:11:00.000000000,50.583418,8.673678,50.573378,8.700063,2.171923,2019-05-07 12:00:00,4.2,0.0,12.1
20059,2019-05-07,14:04:00,91229,frankfurt,0 days 00:16:00.000000000,50.572982,8.700078,50.580484,8.664531,2.645111,2019-05-07 14:00:00,4.4,0.0,13.5
20060,2019-05-07,19:54:00,91229,frankfurt,0 days 00:10:00.000000000,50.580916,8.664705,50.582658,8.680114,1.105075,2019-05-07 19:00:00,0.5,0.0,9.5
20061,2019-05-08,04:17:00,91229,frankfurt,0 days 00:08:00.000000000,50.583764,8.680127,50.575929,8.693904,1.305900,2019-05-08 04:00:00,2.3,0.0,7.3

In [110]:
# Set timestamp         
for ind, row in frankfurt.iterrows():
    frankfurt.loc[ind, "trip_duration_format"] = str(['trip_duration'])

SyntaxError: invalid syntax (<ipython-input-110-02d15dc40467>, line 3)

In [108]:
frankfurt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20062 entries, 0 to 20061
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   day                   20062 non-null  object
 1   time                  20062 non-null  object
 2   b_number              20062 non-null  int64
 3   city                  20062 non-null  object
 4   trip_duration         20062 non-null  object
 5   orig_lat              20062 non-null  float64
 6   orig_lng              20062 non-null  float64
 7   dest_lat              20062 non-null  float64
 8   dest_lng              20062 non-null  float64
 9   distance              20062 non-null  float64
 10  Zeitstempel           20062 non-null  datetime64[ns]
 11  windspeed             20062 non-null  float64
 12  precipation           20062 non-null  float64
 13  temperature           20062 non-null  float64
 14  trip_duration_format  20062 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(1), object(5)
memory usage: 3.1+ MB

In [100]:

def get_usage(time):
    if (frankfurt.loc[ind, "Zeitstempel"] == time):
        usage = usage + (frankfurt.loc[ind, "trip_duration"])
    else: 
        usage.append(0)
    return usage

In [101]:
get_usage(x)

UnboundLocalError: local variable 'usage' referenced before assignment

In [145]:
x = pd.Timestamp('2019-06-27T13')
print(x)

2019-06-27 13:00:00

In [106]:
frankfurt.loc[0, "trip_duration"].format()

'0 days 00:07:00.000000000'

def get_usage(time):
    for i in (frankfurt["Zeitstempel"] == time):  
        frankfurt.sum(frankfurt["trip_duration"])
        return usage
    else:
        return 0

In [97]:
for ind, row in frankfurt.iterrows():
    weather.loc[ind, "usage"] = get_usage(weather.loc[ind, "Zeitstempel"])

ValueError: cannot set using a multi-index selection indexer with a different length than the value

In [53]:
frankfurt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20062 entries, 0 to 20061
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   day            20062 non-null  object
 1   time           20062 non-null  object
 2   b_number       20062 non-null  int64
 3   city           20062 non-null  object
 4   trip_duration  20062 non-null  object
 5   orig_lat       20062 non-null  float64
 6   orig_lng       20062 non-null  float64
 7   dest_lat       20062 non-null  float64
 8   dest_lng       20062 non-null  float64
 9   distance       20062 non-null  float64
 10  Zeitstempel    20062 non-null  datetime64[ns]
 11  windspeed      20062 non-null  float64
 12  precipation    20062 non-null  float64
 13  temperature    20062 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(4)
memory usage: 2.9+ MB

In [143]:
distance = []
def get_distance(time):
    for ind, row in frankfurt.iterrows():
        if (frankfurt.loc[ind, "Zeitstempel"] == time):
            distance.append(True)
            # distance = distance + (frankfurt.loc[ind, "distance"])
        else: 
            # distance = distance + 0
            distance.append(False)
        return distance

In [150]:
get_distance(x)

[True, False, False, False, False]

In [151]:
print(x)

2019-06-27 13:00:00

In [152]:
distance

[True, False, False, False, False]